body {
  background-color: #B4B8AB;
}
h1 {
  color: #313638;
}
h3 {
  text-align: center;
}
.heading-img {
  width: 300px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.copy {
  color: #313638;
}
.big-font {
  font-size: 200px;
}
