body {
  background-color: #B4B8AB;
}
h1 {
  color: #1D2021;
  font-family: "Arial Black";
  background-color: #E0E5D5
}
h3 {
  text-align: center;
  color: #1D2021;
  font-family: "Arial Black"
}
#top {
  background-color: #E5DFA0;
}
#top-mid {
  background-color: #E5DA5E;
}
#bottom-mid {
  background-color: #C94932;
}
#bottom {
  background-color: #603311;
  color: #7C846F;
}
#introduction {
  color: #313638;
}
a:link {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #504B3A;
}
a:hover {
  text-decoration: none;
  color: #504B3A;
  border-bottom: none;
}
a:visited {
  color: #7D8570
}
.heading-img {
  width: 300px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.copy {
  color: #313638;
}
.list {
  color: #313638;
}
footer {
  text-align: center;
  font-family: "Arial Black";
  font-size: 20px;
  color: #1D2021;
}
